Fabric==1.10.2
amqp==1.4.6
anyjson==0.3.3
appnope==0.1.0
billiard==3.3.0.20
celery==3.1.18
decorator==4.0.2
ecdsa==0.13
gnureadline==6.3.3
ipdb==0.8.1
ipython==4.0.0
ipython-genutils==0.1.0
kombu==3.0.26
paramiko==1.15.2
path.py==8.1.1
pep8==1.6.2
pexpect==3.3
pickleshare==0.5
pycrypto==2.6.1
pytz==2015.4
selenium==2.47.1
simplegeneric==0.8.1
traitlets==4.0.0
wsgiref==0.1.2
